.App {
  text-align: center;
  background-color: #fbf7f5;
  max-width: 100%;
}

.header_cta{
  background-color: #fbf7f5;
  height: 50vh;
  text-align: left;
  color: #676767;
  padding: 2%;
}

.header_cta h2{
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}

.company_name{
  font-family: 'DM Serif Display', serif;
  text-align: left;
  color: #676767;
  padding: 2%;
  font-size: 3.5em;
}
.cta_button button {
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px -1px #b9b9b9;
  color: #ee6454;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor:pointer;
  border: none;
  font-weight: 600;
}
.brands_logos_section{
  background-color: #f0e5dc;
  height: 50vh;
}
.brands_logos_paragraph {
  color: #C3AA9A;
  font-size: 2em;
  padding: 3%;
  font-family: 'Poppins', sans-serif;
}
.logos_grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap:calc(40px + 10%);
  margin-left:2%;
  margin-right: 2%;
  
}

.bottom_cta_section p{
  color: #676767;
  font-size: 2em;
  padding: 3%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.cta_button_bottom button {
  margin-bottom: 5%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 8px -1px #b9b9b9;
  color: #ee6454;
  font-size: 1.2em;
  text-transform: uppercase;
  cursor:pointer;
  border: none;
  font-weight: 600;
}


img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.copy_size{
  width: 70%;
}

.spy_size{
  width: 70%;
}
.colorfilter{
  filter: invert(78%) sepia(9%) saturate(689%) hue-rotate(340deg) brightness(91%) contrast(82%);
}

footer{
  background-color:#f0e5dc;
  height: 20vh;
}

.copywrite{
  padding-top: 3%;
  color: #C3AA9A;
  font-size:1.5em;
}


/* media */

@media only screen and (min-width: 356px)and (max-width: 507px){

  .header_cta{
    height: 30vh;
  }
  .header_cta h2{
    font-size: 1.5em;

  }
  
  .company_name{
    font-size: 2.5em;
  }
  .cta_button button {
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 15px;
    font-size: 1em;
  }
  .brands_logos_section{
    height: 35vh;
  }
  .brands_logos_paragraph {
    font-size: 1.5em;
  }
  .logos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-gap:calc(40px + 10%);
    margin-left:2.5%;
    margin-right: 2.5%;
    
  }
  .bottom_cta_section p{
  font-size: 1.5em;
  }
  
  .cta_button_bottom button {
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 15px;
    font-size: 1em;
  }
  
  .copy_size{
    width: 50%;
  }
  
  .spy_size{
    width: 50%;
  }
  .colorfilter{
    width: 80%;
      filter: invert(78%) sepia(9%) saturate(689%) hue-rotate(340deg) brightness(91%) contrast(82%);
  }
  .copywrite{
    font-size:1em;
    padding-top:10%;
  }
}

@media only screen and (min-width: 507px)and (max-width: 865px){

  .header_cta{
    height: 35vh;
  }
  .header_cta h2{
    font-size: 2em;

  }
  
  .company_name{
    font-size: 2.5em;
  }
  .cta_button button {
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 15px;
    font-size: 1em;
  }
  .brands_logos_section{
    height: 30vh;
  }
  .brands_logos_paragraph {
    font-size: 1.5em;
  }
  .logos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap:calc(40px + 10%);
    margin-left:2.5%;
    margin-right: 2.5%;
    margin-bottom: 1%;
    
  }
  .bottom_cta_section p{
  font-size: 1.5em;
  }
  
  .cta_button_bottom button {
    margin-top: 2.5%;
    margin-bottom: 5%;
    padding: 15px;
    font-size: 1em;
  }
  
  .copy_size{
    width: 50%;
  }
  
  .spy_size{
    width: 50%;
  }
  .colorfilter{
    width: 80%;
      filter: invert(78%) sepia(9%) saturate(689%) hue-rotate(340deg) brightness(91%) contrast(82%);
  }
  .copywrite{
    font-size:1em;
    padding-top:10%;
  }
}

@media only screen and (min-width: 3020px)and (max-width: 4080px){


  .header_cta{
   
    height: 35vh;
  }
  
  .header_cta h2{
    font-size: 4.5em;
  }
  
  .company_name{
    font-size: 6em;
  }
  .cta_button button {
  
    padding: 30px;
    font-size: 2em;
  }
  .brands_logos_section{

    height: 30vh;
  }
  .brands_logos_paragraph {
 
    font-size: 3.5em;
  }
  .logos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-gap:calc(40px + 10%);
    margin-left:2%;
    margin-right: 2%;
    
  }
  
  .bottom_cta_section p{
   
    font-size: 3em;
  }
  
  .cta_button_bottom button {
    margin-bottom: 5%;
    padding: 30px;
    font-size: 2em;
   
  }
  
  
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .copy_size{
    width: 70%;
  }
  
  .spy_size{
    width: 70%;
  }
  .colorfilter{
    filter: invert(78%) sepia(9%) saturate(689%) hue-rotate(340deg) brightness(91%) contrast(82%);
  }
  
  footer{
    background-color:#f0e5dc;
    height: 20vh;
  }
  
  .copywrite{
    font-size:3.5em;
  }
}
